*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
html{
  scroll-behavior: smooth;
}
/* all heading H4 and p in this project */
h4, p{
  text-align: center;
  line-height: 2.0;
}



/* hero-section */
.hero-section {
  background: url(./assets/backgrounds/h_img.jpg)no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.hero-section h1, p{
  color: white;
}
/* mouse-click */
a{
  margin-top: 18rem;
}
.animation{
  animation: mouse-scroll 2s ease-in-out infinite;
}
@keyframes mouse-scroll  {
  0%, 60%, 100%{
    transform: translateY(-5px);
  }
  40%, 80%{
    transform: translateY(5px);
  }
}


@media screen and (max-width:768px ) {
.what-we-do{
 
  justify-content: center;
  align-items: center;
}
.social-section .row{
  margin: 0 2rem;
  gap: 10px;
}
}

/* about us */
.about-us p{
  color: black;
  text-align: center;
}
.about-us section{
  min-height: 30vh;
}
/* portfolio */
/* what we do */
.what-we-do p{
  display: none;
}


/* service */
.services{
background: url(./assets/backgrounds/s_image.jpg)no-repeat;
min-height: 45vh;
background-size: cover;
background-position: center;

}
.services h4{
  color: white;
}
/* form */
.form-section{
  background: url(./assets/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  min-height: 50vh;
}
input::placeholder{
  color: white;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;

}
#message::placeholder{
  color: white;
}
input{
  border: 2px solid red;
  padding: 2px 20px;
}

input,textarea{
  border: 1px solid white;
}

